
 .scene {
  width: 300px;
  height: 300px;
  margin: 150px auto 0;
  perspective: 1200px;
}

.cube {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: rotation 10s linear infinite;
}

.side {
  position: absolute;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 120px 0;
  font: 50px sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background: rgba(0, 0, 0, 0.15);
}

.side span {
  position: relative;
  display: block;
}

.back span {
  background-color: red;
  animation: linear infinite;
}
.top span {
  background-color: black;
  animation: linear infinite;
}
.bottom span {
  background-color: blue;
  animation: linear infinite;
}
.front span {
  background-color: orange;
  animation: linear infinite;
}
.right span {
  background-color: yellow;
  animation: linear infinite;
}
.left span {
  background-color: green;
  animation: linear infinite;
}
.guides {
  position: absolute;
  top: 0;
  left: 0px;
  right: -0px;
  height: 100%;
  border: 1px dotted;
  color: white;
}
.back {
  transform: translateZ(-150px) rotateX(180deg);
}
.top {
  transform: translateY(-150px) rotateX(90deg);
}
.bottom {
  transform: translateY(150px) rotateX(270deg);
}
.front {
  transform: translateZ(150px);
}
.right {
  transform: translateX(150px) rotateY(90deg);
}
.left{
  transform: translateX(-150px) rotateY(-90deg);
}

@keyframes rotation {
  0% { transform: translateZ(-150px) rotateX(0deg)} /*front*/
    8% { transform: translateZ(-150px) rotateY(90deg); } /*left*/
    16% { transform: translateZ(-150px) rotateY(90deg); }
    24% { transform: translateZ(-150px) rotateX(270deg); }/*top*/
    32% { transform: translateZ(-150px) rotateX(270deg); }
    40% { transform: translateZ(-150px) rotateX(180deg); }/*back*/
    48% { transform: translateZ(-150px) rotateX(180deg); }
    56% { transform: translateZ(-150px) rotateX(90deg); }/*bottom*/
    64% { transform: translateZ(-150px) rotateX(90deg); }
    72% { transform: translateZ(-150px) rotateY(-90deg); } /*right*/
    80% { transform: translateZ(-150px) rotateY(-90deg); }
    88% { transform: translateZ(-150px) rotateX(0deg)} /*front*/
    100% { transform: translateZ(-150px) rotateX(0deg)}
}